# Base de datos
DATABASE_URL="postgresql://usuario:password@localhost:5432/orientaprof"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generar-con-openssl-rand-base64-32"

# Jitsi Meet
JITSI_DOMAIN="meet.jit.si"
JITSI_APP_ID=""
JITSI_APP_SECRET=""

# CELO Blockchain
CELO_RPC_URL="https://alfajores-forno.celo-testnet.org"
CELO_PRIVATE_KEY=""
CELO_PAYMENTS_CONTRACT_ADDRESS="0x..."
CELO_REPUTATION_CONTRACT_ADDRESS="0x..."

# Wallet Connect
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=""

# Vercel
VERCEL_ENV="development"
